.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 320px;
  min-height: 88px;
  background-color: #fff;
  padding-right: 24px;
  padding-left: 8px;
  border-bottom: 1px solid rgba(65, 246, 215, 0.3);
}

.header__left-column,
.header__right-column {
  display: flex;
  align-items: center;
}

.header-element {
  background-color: transparent;
  border: none;
  margin-left: 16px;
  padding: 0;
}

@media (min-width: 1440px) {
  .header {
    display: none;
  }
}

@media (max-width: 520px) {
  .header__line-one,
  .header__btn-call,
  .header__btn-chat,
  .header__btn-profile {
    display: none;
  }

  .header__container {
    padding: 0;
    padding-right: 16px;
    min-width: 220px;
  }
}

.main__title {
  width: 260px;
  height: 40px;
  margin: 0;
  margin-top: 24px;
  padding-left: 24px;
  font-weight: 700;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: -0.6px;
  position: relative;
}

.main__title::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 4px;
  background-color: #41f6d7;
  border-radius: 0 5px 5px 0;
}

.main__menu {
  display: flex;
  overflow: scroll;
  overflow-y: 0;
  overflow-x: 0;
  height: 40px;
  margin-top: 24px;
  padding-left: 24px;
}

.btn-menu {
  background-color: transparent;
  border: none;
  color: #7e7e82;
  height: 40px;
  padding-left: 16px;
  padding-right: 16px;
  white-space: nowrap;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
}

.btn-menu:hover {
  text-shadow: 0 0 10px #fff;
}

.btn-menu:focus {
  background-color: #fff;
  border: 2px solid #b8ffec;
  border-radius: 6px;
  cursor: default;
}

.btn-menu:focus:hover {
  transition: filter 0.4s ease;
  filter: none;
  text-shadow: none;
}

.main__info {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 24px;
  margin-bottom: 35px;
  padding-left: 24px;
  padding-right: 24px;
  gap: 40px;
}

.main__info-text {
  overflow: hidden;
  margin: 0;
  max-width: 490px;
  height: 160px;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
}

.expanded {
  height: auto;
}

.conteiner-btn-read-more {
  display: flex;
  align-items: center;
  height: 24px;
  margin-top: 24px;
}

.btn-read-more-svg {
  margin-right: 10px;
}

.main__info-btn-read-more {
  background-color: transparent;
  border: none;
  height: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  display: flex;
  align-items: center;
  padding: 0;
}

.main__info-btn-read-more:hover {
  text-shadow: 0 0 10px #fff;
}

.main__info-picture {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

@media (min-width: 1020px) {
  .main__header {
    display: grid;
    grid-template-columns: 1fr 200px 200px;
    margin-top: 15px;
  }

  .main__header-submit,
  .main__header-status {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 25px;
  }

  .main__header-submit:hover,
  .main__header-status:hover {
    color: #7e7e82;
  }

  .main__menu {
    overflow: hidden;
    height: 80px;
    flex-wrap: wrap;
  }

  .main__info-picture {
    height: 307px;
    object-fit: contain;
  }
}

@media (max-width: 1440px) {
  .main__header-submit,
  .main__header-status {
    display: none;
  }
}

@media (max-width: 590px) {
  .main__info {
    display: block;
    margin-bottom: 20px;
    padding: 0;
  }

  .main__container-text {
    padding: 0 16px;
  }

  .main__info-text {
    height: 90px;
  }
  .expanded {
    height: auto;
  }

  .conteiner-btn-read-more {
    margin-top: 10px;
    margin-bottom: 15px;
  }

  .main__info-picture {
    border-radius: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.header-block {
  width: 100%;
  height: 56px;
  border-top: solid 2px #d9fff5;
  margin-bottom: 30px;
  background: linear-gradient(to right, transparent, white 60%);
  display: flex;
  align-items: center;
}

.header-block h2 {
  margin-left: 24px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #7e7e82;
  text-transform: uppercase;
  font-weight: 400;
  background: linear-gradient(to right, transparent, white);
}

.brands-section {
  padding-left: 24px;
  padding-right: 24px;
  margin: 0 auto;
  margin-bottom: 45px;
}

.brands-container {
  position: relative;
}

.brands-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-bottom: 30px;
}

.brand-item {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  display: flex;
  align-items: center;
  height: 72px;
  width: 224px;
}

.brand-item:hover {
  transform: scale(1.1);
  box-shadow: 0 0 15px 0 #ddd;
}

.brand-item .placeholder {
  background: #fff;
  width: 100%;
  margin-left: 15px;
  margin-right: 15px;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}

button {
  background: transparent;
  border: none;
}

.show-all {
  display: flex;
  width: 150px;
}

.show-all-btn {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 134px;
  color: #1b1c21;
  font-size: 16px;
  padding: 0;
}

.show-all-btn:hover {
  text-shadow: 0 0 7px #fff;
}

.show-all-btn-svg {
  justify-content: flex-end;
  margin-right: 8px;
}

.brands-grid.desktop-layout .brand-item:nth-child(n + 9) {
  display: none;
}

.brands-grid.desktop-layout.expanded .brand-item:nth-child(n + 9) {
  display: flex;
}

/* Для планшетов */
@media (max-width: 1020px) {
  .brands-grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .brands-grid.desktop-layout .brand-item:nth-child(n + 4) {
    display: none;
  }
  .brands-grid.desktop-layout.expanded .brand-item:nth-child(n + 4) {
    display: flex;
  }
}

/* Для мобильных - включаем Swiper */
@media (max-width: 430px) {
  .header {
    height: 80px;
    margin-bottom: 16px;
  }

  .brands-grid {
    display: none;
  }

  .brands-section {
    padding: 0;
    padding-left: 16px;
    margin-bottom: 20px;
  }

  .brands-container::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 24px;
    height: 81px;
    background: linear-gradient(to right, transparent, white);
    pointer-events: none;
    z-index: 2;
  }

  .swiper-container {
    display: block;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 120px;
  }

  .swiper-slide {
    height: 72px;
    width: 240px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 15px;
  }

  .swiper-slide .placeholder {
    background: #fff;
    width: 100%;
    margin-left: 15px;
    margin-right: 15px;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
  }

  .swiper-pagination {
    position: absolute;
    left: 58px;
    top: 10px;
    background: transparent;
  }

  .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    margin-right: 8px;
    background: #b5b6bc;
  }

  .show-all,
  .show-all-btn-svg {
    display: none;
  }

  button {
    background: transparent;
    border: none;
  }
}

@media (min-width: 430px) {
  .swiper-container {
    display: none;
  }
}

.repair-section {
  padding-left: 24px;
  padding-right: 24px;
  margin: 0 auto;
  margin-bottom: 45px;
}

.repair-container {
  position: relative;
}

.repair-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-bottom: 30px;
}

.repair-item {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 224px;
  height: 160px;
}

.repair-item:hover {
  transform: scale(1.1);
  box-shadow: 0 0 15px 0 #ddd;
}

.placeholder-repair {
  display: block;
  width: 100%;
  height: 160px;
  border-radius: 5px;
}

.placeholder-repair__text {
  margin-left: 16px;
  margin-bottom: 70px;
}

.repair-btn-more {
  padding: 0;
  float: right;
  margin-right: 15px;
}

.repair-grid.desktop-layout .repair-item:nth-child(n + 5) {
  display: none;
}

.repair-grid.desktop-layout.expanded .repair-item:nth-child(n + 5) {
  display: flex;
}

/* Для планшетов */
@media (max-width: 1020px) {
  .repair-grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .repair-grid.desktop-layout .repair-item:nth-child(n + 4) {
    display: none;
  }
  .repair-grid.desktop-layout.expanded .repair-item:nth-child(n + 4) {
    display: flex;
  }
}

/* Для мобильных - включаем Swiper */
@media (max-width: 430px) {
  .header {
    height: 80px;
    margin-bottom: 16px;
  }

  .repair-grid {
    display: none;
  }

  .repair-section {
    padding: 0;
    padding-left: 16px;
    margin-bottom: 20px;
  }

  .repair-container::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 24px;
    height: 166px;
    background: linear-gradient(to right, transparent, white);
    pointer-events: none;
    z-index: 2;
  }

  .swiper-container-repair {
    display: block;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 210px;
  }

  .swiper-slide-repair {
    width: 240px;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 15px;
  }

  .swiper-slide-repair .placeholder-repair {
    background: #fff;
    display: block;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }

  .swiper-pagination {
    position: absolute;
    left: 58px;
    top: 10px;
    background: transparent;
  }

  .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    margin-right: 8px;
    background: #b5b6bc;
  }

  .show-all,
  .show-all-btn-repair-svg {
    display: none;
  }

  button {
    background: transparent;
    border: none;
  }
}

@media (min-width: 430px) {
  .swiper-container-repair {
    display: none;
  }
}

.price-section {
  margin-bottom: 30px;
}

.price-container {
  width: 100%;
  max-width: 1058px;
  margin-left: auto;
  margin-right: auto;
}

.price-grid {
  display: flex;
  flex-direction: column;
  gap: 0;
  max-width: 1056px;
  margin: 0 auto;
  margin-left: 24px;
  margin-right: 24px;
}

/* Шапка */
.price-header {
  display: grid;
  grid-template-columns: 1fr 75px 85px 120px;
  column-gap: 20px;
  align-items: center;
  height: 30px;
  margin-bottom: 10px;
  padding: 0 16px;
  box-sizing: border-box;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0;
  font-size: 14px;
  color: #7e7e82;
}

.price-header__col {
  margin: 0;
}

/* Строки */
.price-item {
  max-width: 1056px;
  width: 100%;
  height: 65px;
  margin: 0 auto;
  background: #fff;
  border-top: 1px solid #eee;
  display: flex;
}

.price-item:first-child {
  border-radius: 5px 5px 0 0; /* верх блока закруглить, как на карточке */
}

.price-item:last-child {
  border-radius: 0 0 5px 5px; /* Низ блока закруглить, как на карточке */
}

.placeholder-price {
  display: grid;
  grid-template-columns: 1fr 75px 85px 120px;
  column-gap: 20px;
  align-items: center;
  width: 100%;
  padding: 0 16px;
  box-sizing: border-box;
}

/* Текст в строках */
.price-title__text {
  font-size: 14px;
  color: #252525;
  margin: 0;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.2px;
}

.price-title__text-two,
.price-title__text-three {
  text-align: left;
}

/* Для мобильных - включаем Swiper */
@media (max-width: 430px) {
  .header {
    height: 80px;
    margin-bottom: 16px;
  }

  .price-grid {
    display: none;
  }

  .price-section {
    padding: 0;
    padding-left: 16px;
    margin-bottom: 0;
  }

  .price-container::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 24px;
    height: 166px;
    background: linear-gradient(to right, transparent, white);
    pointer-events: none;
    z-index: 2;
  }

  .swiper-container-price {
    display: block;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 250px;
  }

  .swiper-slide-price {
    width: 260px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    border: 1px solid #dddddd00;
    border-radius: 5px;
    margin-right: 15px;
  }

  .swiper-slide-price .placeholder-price {
    background: #fff;
    height: 200px;
    width: 100%;
    border-radius: 5px;
  }

  .placeholder-price-mobile p {
    margin: 0;
    margin-top: 3px;
    margin-left: 16px;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.2px;
  }

  .placeholder-price-mobile .price-title {
    color: #7e7e82;
    margin-top: 16px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0;
  }

  .placeholder-price-mobile .price-title__lastTitle {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .placeholder-price-mobile .price-title__lastText {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }

  .price-btn-order {
    padding: 0;
    margin-right: 15px;
  }

  .swiper-pagination {
    position: absolute;
    left: 58px;
    top: 10px;
    background: transparent;
  }

  .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    margin-right: 8px;
    background: #b5b6bc;
  }

  button {
    background: transparent;
    border: none;
  }
}

@media (min-width: 430px) {
  .swiper-container-price {
    display: none;
  }
}

.disclaimer {
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 60px;
  max-width: 425px;
}

.disclaimer__text {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
}

.disclaimer__offer {
  position: relative;
  padding-bottom: 3px;
}

.disclaimer__offer-link {
  color: inherit;
  text-decoration: none;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
}

.disclaimer__offer-more {
  position: absolute;
  bottom: 0;
}

.footer {
  color: #7e7e82;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0;
  text-align: center;
  border-top: 1px solid rgba(65, 246, 215, 0.3);
}

@media (min-width: 760px) {
  .footer {
    display: grid;
    grid-template-columns: 250px 1fr 370px;
    gap: 20px;
    align-items: flex-start;
  }

  .footer__team {
    text-align: left;
    margin-left: 30px;
  }

  .footer__publicOffer {
    text-align: right;
    margin-right: 30px;
  }
}

.rectangle {
  width: 320px;
  height: 100vh; /* Фиксированная высота экрана */
  overflow-y: auto; /* Прокрутка содержимого sidebar */
  overflow-x: hidden; /* Без горизонтальной прокрутки */
  position: fixed;
  top: 0;
  left: -320px; /* Скрыто слева вместо display: none */
  background-color: #fff;
  z-index: 950;
  transition: left 0.3s ease, box-shadow 0.3s ease;
}

.rectangle.active {
  left: 0; /* Показывается при добавлении класса active */
  box-shadow: 0 0 50px 0 #ddd;
}

.top {
  display: flex;
}

.btn-exit {
  margin-top: 23px;
  margin-left: 24px;
  padding: 0;
}

.logo {
  margin-top: 19px;
  margin-left: 17px;
  cursor: pointer;
}

.btn-search {
  margin-top: 23px;
  margin-left: 78px;
}

.mainMenu {
  padding: 0;
  margin-top: 46px;
  width: 222px;
  height: 876px;
}

.mainMenu__point {
  margin-bottom: 32px;
  padding-left: 24px;
  color: #1b1c21;
  position: relative;
  cursor: pointer;
}

.mainMenu__point::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 4px;
  height: 32px;
  background-color: #41f6d7;
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 0 10px 10px 0;
}

.mainMenu__point:hover {
  color: #7e7e82;
}

.mainMenu__point:hover::before {
  opacity: 1;
}

.mainMenu__contacts {
  width: 196px;
  height: 124px;
  margin-top: 150px;
  margin-left: 24px;
}

.btn-chat {
  margin-left: 16px;
  margin-right: 16px;
}

.contacts__phone {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.6px;
  margin: 0;
}

.mainMenu__lang {
  width: 87px;
  height: 24px;
  margin-left: 24px;
  display: flex;
}

.lang {
  margin: 0;
  margin-right: 7px;
  margin-top: 35px;
  cursor: pointer;
}

.lang:hover {
  color: #7e7e82;
}

@media (max-height: 880px) {
  .mainMenu__contacts {
    margin-top: 70px;
  }
}

@media (max-height: 800px) {
  .mainMenu__contacts {
    margin-top: 30px;
  }
}

@media (min-width: 1440px) {
  .rectangle {
    display: block;
    left: 0;
    top: 0;
    box-shadow: none;
    overflow: hidden;
  }

  .btn-exit {
    display: none;
  }

  .btn-search {
    margin-left: 140px;
  }
}

@media (max-width: 360px) {
  .rectangle {
    width: 100%;
    max-width: 360px;
    left: -360px;
  }
}

.chat-sidebar {
  position: fixed;
  top: 0;
  right: -540px;
  width: min(440px, 100%);
  height: 100vh;
  transition: right 0.3s ease, box-shadow 0.3s ease;
  z-index: 1000;
  background: #fff;
  box-sizing: border-box;
}

/* состояние «открыт» */
.chat-sidebar.open {
  right: 0;
  box-shadow: 0 0 50px 0 #ddd;
}

.feedback-card {
  position: relative;
  width: 100%;
  height: 100%;
  background: #ffffff;
  padding-left: 30px;
  padding-right: 30px;
  box-sizing: border-box;
}

.feedback-close {
  position: absolute;
  top: -55px;
  left: -70px;
}

.feedback-title {
  margin: 32px 0 20px;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  letter-spacing: -0.6px;
  color: #1b1c21;
  position: relative;
  padding-left: 25px;
}

.feedback-title::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 4px;
  background-color: #41f6d7;
  border-radius: 0 5px 5px 0;
}

.feedback-input,
.feedback-textarea {
  width: 100%;
  border-radius: 6px;
  border: 1px solid #eaeaea;
  margin-bottom: 15px;
  padding: 10px 12px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  letter-spacing: -0.2px;
  background: #fff;
  color: #b5b6bc;
  box-sizing: border-box;
  outline: none;
}

.feedback-input::placeholder,
.feedback-textarea::placeholder {
  color: #b4b4b8;
}

/* фокус */
.feedback-input:focus,
.feedback-textarea:focus {
  outline: none;
  border-color: #ff3e79;
}

/* текстовое поле побольше */
.feedback-textarea {
  resize: none;
  min-height: 118px;
}

.feedback-note {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  letter-spacing: 0;
  color: #b4b4b8;
}

.feedback-note a {
  text-decoration: none;
  color: #ff3e79;
}

.feedback-submit {
  position: absolute;
  right: 30px;
  top: 400px;
}

/* На очень маленьких экранах делаем почти полноэкранное модальное окно */
@media (max-width: 430px) {
  .chat-sidebar {
    width: 100%;
  }

  .feedback-input,
  .feedback-textarea {
    max-width: 376px;
    width: 100%;
  }

  .feedback-textarea {
    min-height: 58px;
  }
}

@media (max-width: 520px) {
  .feedback-close {
    top: -130px;
    left: 16px;
  }

  .feedback-title {
    margin-top: 104px;
    padding-left: 16px;
  }

  .feedback-card {
    padding-left: 16px;
    padding-right: 16px;
  }

  .feedback-note {
    margin: 0;
  }

  .feedback-submit {
    right: 16px;
    top: 350px;
  }
}

.callback-sidebar {
  position: fixed;
  top: 0;
  right: -540px;
  width: min(440px, 100%);
  height: 100vh;
  transition: right 0.3s ease, box-shadow 0.3s ease;
  z-index: 1000;
  background: #fff;
  box-sizing: border-box;
}

/* состояние «открыт» */
.callback-sidebar.open {
  right: 0;
  box-shadow: 0 0 50px 0 #ddd;
}

.callback-card {
  position: relative;
  width: 100%;
  height: 100%;
  background: #ffffff;
  padding-left: 30px;
  padding-right: 30px;
  box-sizing: border-box;
}

.callback-close {
  position: absolute;
  top: -55px;
  left: -70px;
}

.callback-title {
  margin: 32px 0 20px;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  letter-spacing: -0.6px;
  color: #1b1c21;
  position: relative;
  padding-left: 25px;
}

.callback-title::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 4px;
  background-color: #41f6d7;
  border-radius: 0 5px 5px 0;
}

.callback-input,
.callback-textarea {
  width: 100%;
  border-radius: 6px;
  border: 1px solid #eaeaea;
  margin-bottom: 15px;
  padding: 10px 12px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  letter-spacing: -0.2px;
  background: #fff;
  color: #b5b6bc;
  box-sizing: border-box;
  outline: none;
}

.callback-input::placeholder,
.callback-textarea::placeholder {
  color: #b4b4b8;
}

/* фокус */
.callback-input:focus,
.callback-textarea:focus {
  outline: none;
  border-color: #ff3e79;
}

/* текстовое поле побольше */
.callback-textarea {
  resize: none;
  min-height: 118px;
}

.callback-note {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  letter-spacing: 0;
  color: #b4b4b8;
}

.callback-note a {
  text-decoration: none;
  color: #ff3e79;
}

.callback-submit {
  position: absolute;
  right: 30px;
  top: 140px;
}

/* На очень маленьких экранах делаем почти полноэкранное модальное окно */
@media (max-width: 430px) {
  .callback-sidebar {
    width: 100%;
  }

  .callback-input,
  .callback-textarea {
    max-width: 376px;
    width: 100%;
  }

  .callback-textarea {
    min-height: 58px;
  }
}

@media (max-width: 520px) {
  .callback-close {
    top: -130px;
    left: 16px;
  }

  .callback-title {
    margin-top: 104px;
    padding-left: 16px;
  }

  .callback-card {
    padding-left: 16px;
    padding-right: 16px;
  }

  .callback-note {
    margin: 0;
  }

  .callback-submit {
    right: 16px;
  }
}

@charset "UTF-8";
@font-face {
  font-family: 'TT Lakes';
  src: url(./fonts/TTLakes-Medium.ttf) format("truetype"); }

body {
  padding: 0 auto;
  margin: 0;
  font-family: 'TT Lakes', sans-serif;
  background: #f8f8f8;
  color: #1b1c21; }

.button {
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0;
  transition: -webkit-filter 0.2s ease;
  transition: filter 0.2s ease;
  transition: filter 0.2s ease, -webkit-filter 0.2s ease;
  /* Плавное затемнение */ }

.button:hover {
  -webkit-filter: brightness(0.8);
          filter: brightness(0.8);
  /* Темнеет на 20% */ }

.cursor {
  cursor: pointer;
  transition: -webkit-filter 0.2s ease;
  transition: filter 0.2s ease;
  transition: filter 0.2s ease, -webkit-filter 0.2s ease; }

.cursor:hover {
  -webkit-filter: brightness(0.8);
          filter: brightness(0.8); }

.overlay,
.overlay-two {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.95);
  /* Белый с 80% прозрачностью */
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
  z-index: 900; }

.overlay-two {
  z-index: 980; }

.overlay.active,
.overlay-two.active {
  opacity: 1;
  visibility: visible; }

@media (min-width: 1440px) {
  .body__container {
    margin-left: 320px; } }


/*# sourceMappingURL=style.css.map*/