.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 320px;
  min-height: 88px;
  background-color: $bgElemColor;
  padding-right: 24px;
  padding-left: 8px;
  border-bottom: 1px solid rgba(65, 246, 215, 0.3);
}

.header__left-column,
.header__right-column {
  display: flex;
  align-items: center;
}

.header-element {
  background-color: transparent;
  border: none;
  margin-left: 16px;
  padding: 0;
}
