.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 320px;
  min-height: 88px;
  background-color: #fff;
  padding-right: 24px;
  padding-left: 8px;
  border-bottom: 1px solid rgba(65, 246, 215, 0.3);
}

.header__left-column,
.header__right-column {
  display: flex;
  align-items: center;
}

.header-element {
  background-color: transparent;
  border: none;
  margin-left: 16px;
  padding: 0;
}

@media (min-width: 1020px) {
  .header {
    display: none;
  }
}

@media (max-width: 520px) {
  .header__line-one,
  .header__btn-call,
  .header__btn-chat,
  .header__btn-profile {
    display: none;
  }

  .header__container {
    padding: 0;
    padding-right: 16px;
    min-width: 220px;
  }
}
