.main__title {
  width: 260px;
  height: 40px;
  margin: 0;
  margin-top: 24px;
  padding-left: 24px;
  font-weight: 700;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: -0.6px;
  position: relative;
}

.main__title::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 4px;
  background-color: #41f6d7;
  border-radius: 0 5px 5px 0;
}

.main__menu {
  display: flex;
  overflow: scroll;
  overflow-y: 0;
  overflow-x: 0;
  height: 40px;
  margin-top: 24px;
  padding-left: 24px;
}

.btn-menu {
  background-color: transparent;
  border: none;
  color: #7e7e82;
  height: 40px;
  padding-left: 16px;
  padding-right: 16px;
  white-space: nowrap;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
}

.btn-menu:hover {
  text-shadow: 0 0 10px #fff;
}

.btn-menu:focus {
  background-color: #fff;
  border: 2px solid #b8ffec;
  border-radius: 6px;
  cursor: default;
}

.btn-menu:focus:hover {
  transition: filter 0.4s ease;
  filter: none;
  text-shadow: none;
}

.main__info {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 24px;
  margin-bottom: 35px;
  padding-left: 24px;
  padding-right: 24px;
  gap: 40px;
}

.main__info-text {
  overflow: hidden;
  margin: 0;
  max-width: 490px;
  height: 160px;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
}

.expanded {
  height: auto;
}

.conteiner-btn-read-more {
  display: flex;
  align-items: center;
  height: 24px;
  margin-top: 24px;
}

.btn-read-more-svg {
  margin-right: 10px;
}

.main__info-btn-read-more {
  background-color: transparent;
  border: none;
  height: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  display: flex;
  align-items: center;
  padding: 0;
}

.main__info-btn-read-more:hover {
  text-shadow: 0 0 10px #fff;
}

.main__info-picture {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

@media (min-width: 1020px) {
  .main__header {
    display: grid;
    grid-template-columns: 1fr 200px 200px;
    margin-top: 15px;
  }

  .main__header-submit,
  .main__header-status {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 25px;
  }

  .main__header-submit:hover,
  .main__header-status:hover {
    color: #7e7e82;
  }

  .main__menu {
    overflow: hidden;
    height: 80px;
    flex-wrap: wrap;
  }

  .main__info-picture {
    height: 307px;
    object-fit: contain;
  }
}

@media (max-width: 1440px) {
  .main__header-submit,
  .main__header-status {
    display: none;
  }
}

@media (max-width: 590px) {
  .main__info {
    display: block;
    margin-bottom: 20px;
    padding: 0;
  }

  .main__container-text {
    padding: 0 16px;
  }

  .main__info-text {
    height: 90px;
  }
  .expanded {
    height: auto;
  }

  .conteiner-btn-read-more {
    margin-top: 10px;
    margin-bottom: 15px;
  }

  .main__info-picture {
    border-radius: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
