@import url('./header.scss');
@import url('./main.scss');
@import url('./brands.scss');
@import url('./repair.scss');
@import url('./price.scss');
@import url('./disclaimer.scss');
@import url('./footer.scss');
@import url('./sidebar.scss');
@import url('./chatSidebar.scss');
@import url('./callSidebar.scss');

@font-face {
  font-family: 'TT Lakes';
  src: url('../fonts/TTLakes-Medium.ttf') format('truetype');
}

body {
  padding: 0 auto;
  margin: 0;
  font-family: 'TT Lakes', sans-serif;
  background: #f8f8f8;
  color: #1b1c21;
}

.button {
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0;
  transition: filter 0.2s ease; /* Плавное затемнение */
}

.button:hover {
  filter: brightness(0.8); /* Темнеет на 20% */
}

.cursor {
  cursor: pointer;
  transition: filter 0.2s ease;
}

.cursor:hover {
  filter: brightness(0.8);
}

.overlay,
.overlay-two {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.95); /* Белый с 80% прозрачностью */
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
  z-index: 900;
}

.overlay-two {
  z-index: 980;
}

.overlay.active,
.overlay-two.active {
  opacity: 1;
  visibility: visible;
}

@media (min-width: 1440px) {
  .body__container {
    margin-left: 320px;
  }
}
